/*.button-password {
    font-size: 20px;
    position: absolute;
    right: 10rem;
    padding: 10px;
    top: 18rem;
}*/

#togglepassw {
    display: none;
    position: absolute;
    top: 50%;
    margin-left: 9em;
    margin-top: -6.4em;
    transform: translateY(-50%);
    cursor: pointer;
}

#togglepassw:hover {
    background-color: #dddfe2;
}

html,
body {
    overflow-x: hidden;
}

.conteiner_border {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    display: block;
    margin: 0 auto;
    width: 980px;
    margin-bottom: 8px;
}

.bi-plus {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.img {
    background: url(/img/icon.png);
    padding-right: 12.9px;
}

.conteiner-meta {
    color: rgba(0, 0, 0, 0.637);
    display: flex;
    position: relative;
    padding: 20px;
    right: 38em;
    align-items: center;
    justify-content: center;
}